halide==19.0.0
imageio==2.37.0
Kivy==2.3.1
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
Kivy-Garden==0.1.5
kivy_deps.sdl2==0.8.0
numpy==2.2.6
opencv-python==4.11.0.86
pillow==11.2.1
Pygments==2.19.1
pypiwin32==223
pywin32==310
rawpy==0.25.0
tifffile==2025.5.10
tiffile==2018.10.18